<div>
    <div class='row'>
        <div class='col-md-6 offset-md-2'>
            <h2>Orders</h2>
            <form class="form-inline">
                <div class="form-group mr-3">
                    <label for="startDate">Start Date: </label>
                    <input
                        type="date"
                        id="startDate"
                        class="form-control ml-3"
                        placeholder="Start Date"
                        @bind="StartDate"
                        @bind:event="oninput">
                </div>
                <div class="form-group">
                    <label for="endDate">End Date: </label>
                    <input
                        type="date"
                        class="form-control ml-3"
                        id="endDate"
                        placeholder="End Date"
                        @bind="EndDate"
                        @bind:event="oninput">
                </div>
                <button
                    class="btn btn-outline-dark ml-3"
                    type="button"
                    @onclick="OnFilterOrders">
                    Search
                </button>
            </form>
        </div>
    </div>
    <br />
    <div class='row'>
        <div class="col-md-8 offset-md-2">
            <table class='table'>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Time Stamp</th>
                        <th>Price</th>
                        <th>Games</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in orders)
                    {
                        <tr>
                            <td>@order.Username</td>
                            <td>@order.TimeStamp.ToShortDateString()</td>
                            <td>@order.Price.ToString("C2")</td>
                            <td>@order.GamesCount</td>
                        </tr>
                        @foreach (var game in order.Games)
                        {
                            <tr>
                                <td class="text-right" colspan="4">
                                    <a class="mr-4 pr-4" href="/games/edit?gameId=@game.Id">
                                        @game.Title | @game.Price.ToString("C2") | Views: @game.ViewCount | Orders: @game.OrderCount
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>